@keyframes associateShake{
    0% { transform: translate(5px, 0); }
    50% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

#enigma.associate{
    background-size: cover;
    background-position: center center;
}

#associateStack{
    width: 220px;
    padding: 60px 0 0 130px;
    float: left;
}

#associateStack div{
    float: left;
    width: 81px;
    height: 81px;
    padding: 3px;
    margin: 10px 10px 0 0;
    background-repeat: no-repeat ;
    display: none;
}

#associateStack #card1{
    background-position: -183px -92px;
}
#associateStack #card2{
    background-position: -183px -185px;
}
#associateStack #card3{
    background-position: -183px 2px;
}
#associateStack #card4{
    background-position: -89px -91px;
}
#associateStack #card5{
    background-position: -89px -184px;
}
#associateStack #card6{
    background-position: -89px 3px;
}

#associateTarget, #associateLabel{
    width: 100px;
    float: right;
    margin: 30px 20px 0 0;
}

#associateLabel{
    margin-right: 130px;

}

#associateTarget div, #associateLabel div{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 20px;
    background: url('../ui/enigma_sheet.png') no-repeat top left;
    display: none;
}
#associateLabel div{
    margin-top: 21px;
    background-repeat: no-repeat;
}
#associateLabel div.label2{
    background-position: 0 -95px;
}
#associateLabel div.label3{
    background-position: 0 -185px;
}

#associateTarget div.hovered{
    opacity: 0.7;
}

div.associate div.shake{
    animation-name: associateShake;
    animation-duration: 200ms;
    animation-iteration-count: 4;
    animation-timing-function: linear;

}
