@keyframes associateShake{
    0% { transform: translate(5px, 0); }
    50% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

#chronologyBubbleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 700px;
    margin: -135px 0 0 -350px;
}

#chronologyLine{
    position: absolute;
    width: 700px;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: #FFF;
}

#chronologyLine span{
    width: 50px;
    line-height: 53px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFF;
    text-align: center;
    margin-top: -24px;
    display: block;
    float: left;
}
#chronologyLine span:last-child{
    float: right;
}

div.chronologyBubble{
    position: absolute;
    top: 0;
    left: 75px;
    width: 120px;
    height: 120px;
}

div.chronologyBubble a{
    display: block;
    width: 60px;
    height: 60px;
    background: url('../ui/play.png') no-repeat left 2px;
    margin: 0 auto 10px auto;
    transform: rotate(-90deg);
    opacity: 0.6;
}

div.chronologyBubble a:last-child{
    margin-top: 10px;
    transform: rotate(90deg);
}

div.chronologyBubble a:hover{
    opacity: 1;
}

div.chronologyBubble span{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 40px;
    border-radius: 80px;
    background-color: #FFF;
    background-position: 0 -3px;
    background-size: 100% 385%;
}
#chronologyBub2{
    left: 220px;
}
#chronologyBub3{
    left: 365px;
}
#chronologyBub4{
    left: 510px;
}


div.chronology div.shake{
    animation-name: associateShake;
    animation-duration: 200ms;
    animation-iteration-count: 4;
    animation-timing-function: linear;
}
